/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .center-row-flex, .center-column-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  } .center-column-flex {
    flex-direction: column;
  }
 

}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}

.remove-bg-img{
  mix-blend-mode: multiply;
}
