/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* =================== theme app =====================*/
:root {
    --primary-color: #000000; 
    --background-color: #F1F0EF;
    --gray: #bbbbbb; 
    
    
  }
  
  /* dark */
  [data-theme="dark"] {
    --primary-color: #F1F0EF; 
    --background-color: #000000;  
    --gray: rgb(26, 26, 26); 
  }
  
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Condensed', sans-serif;
}



/* 
.contetn{

  scroll-snap-align: start;
}
.main{
  scroll-behavior: smooth;
scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;
} */

 /* ====================================== scroll bar ================================== */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}


@media screen and (min-width: 768px) {
  
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
}
